body {
    padding: 5%;
    /* background-image: url(//previews.123rf.com/images/ilonitta/ilonitta1811/ilonitta181100157/127497253-vintage-flourishes-seamless-pattern-in-italian-style-for-wallpaper-scrapbooking-design-wrapping-gift.jpg); */
}

form {
    display: flex;
    flex-direction: column;
}

.label-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* Add vertical spacing between radio button groups */
}

.label-container input {
    margin-right: 5px;
    /* Add spacing between radio button and label text */
}

button {
    margin-right: 55%;
}

.sizePrice {
    padding-left: 3%;
}

.totalPrice {
    width: 15%;
    border-top: 3px solid black;
}